.elementor-kit-3 {
  --e-global-color-primary: #222222;
  --e-global-color-secondary: #fbeed3;
  --e-global-color-text: #222222;
  --e-global-color-accent: #c78853;
  --e-global-color-fcc4f00: #e1bb78;
  --e-global-color-63c96cb: #f1dbd2;
  --e-global-color-e3c55af: #ffffff;
  --e-global-color-70d6c5e: #ffffff99;
  --e-global-color-127a970: #f5f5f5;
  --e-global-color-fc08ef3: #22222280;
  --e-global-color-337ad1b: #2222224d;
  --e-global-color-1df8476: #ffffff00;
  --e-global-color-af41a84: #ffffff1a;
  --e-global-color-bc7587e: #f2c94c;
  --e-global-typography-primary-font-family: "Prata";
  --e-global-typography-primary-font-weight: 400;
  --e-global-typography-secondary-font-family: "Work Sans";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Work Sans";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-font-style: normal;
  --e-global-typography-text-line-height: 1.5em;
  --e-global-typography-accent-font-family: "Work Sans";
  --e-global-typography-accent-font-size: 14px;
  --e-global-typography-accent-font-weight: 600;
  --e-global-typography-accent-text-transform: uppercase;
  --e-global-typography-accent-font-style: normal;
  --e-global-typography-accent-line-height: 1.143em;
  --e-global-typography-9870b13-font-family: "Work Sans";
  --e-global-typography-9870b13-font-size: 22px;
  --e-global-typography-9870b13-font-weight: 600;
  --e-global-typography-9870b13-text-transform: uppercase;
  --e-global-typography-9870b13-font-style: normal;
  --e-global-typography-9870b13-line-height: 1.182em;
  --e-global-typography-5791251-font-family: "Work Sans";
  --e-global-typography-5791251-font-size: 11px;
  --e-global-typography-5791251-font-weight: 600;
  --e-global-typography-5791251-text-transform: uppercase;
  --e-global-typography-5791251-font-style: normal;
  --e-global-typography-5791251-line-height: 1.182em;
  --e-global-typography-ca36178-font-family: "Work Sans";
  --e-global-typography-ca36178-font-size: 12px;
  --e-global-typography-ca36178-font-weight: 400;
  --e-global-typography-ca36178-font-style: normal;
  --e-global-typography-ca36178-line-height: 1.167em;
  --e-global-typography-88e322b-font-family: "Work Sans";
  --e-global-typography-88e322b-font-size: 22px;
  --e-global-typography-88e322b-font-weight: 400;
  --e-global-typography-88e322b-font-style: normal;
  --e-global-typography-88e322b-line-height: 1.636em;
  --e-global-typography-4b92808-font-family: "Prata";
  --e-global-typography-4b92808-font-size: 96px;
  --e-global-typography-4b92808-font-weight: 400;
  --e-global-typography-4b92808-font-style: normal;
  --e-global-typography-4b92808-line-height: 1em;
  --e-global-typography-eed492a-font-family: "Prata";
  --e-global-typography-eed492a-font-size: 64px;
  --e-global-typography-eed492a-font-weight: 400;
  --e-global-typography-eed492a-font-style: normal;
  --e-global-typography-eed492a-line-height: 1.25em;
  --e-global-typography-2ffea2a-font-family: "Prata";
  --e-global-typography-2ffea2a-font-size: 32px;
  --e-global-typography-2ffea2a-font-weight: 400;
  --e-global-typography-2ffea2a-font-style: normal;
  --e-global-typography-2ffea2a-line-height: 1.313em;
  --e-global-typography-18b4240-font-family: "Prata";
  --e-global-typography-18b4240-font-size: 22px;
  --e-global-typography-18b4240-font-weight: 400;
  --e-global-typography-18b4240-font-style: normal;
  --e-global-typography-18b4240-line-height: 1.182em;
  --e-global-typography-b8e8f44-font-family: "Prata";
  --e-global-typography-b8e8f44-font-size: 18px;
  --e-global-typography-b8e8f44-font-weight: 400;
  --e-global-typography-b8e8f44-font-style: normal;
  --e-global-typography-b8e8f44-line-height: 1.444em;
  --e-global-typography-a71b722-font-family: "Work Sans";
  --e-global-typography-a71b722-font-size: 16px;
  --e-global-typography-a71b722-font-weight: 600;
  --e-global-typography-a71b722-text-transform: none;
  --e-global-typography-a71b722-font-style: normal;
  --e-global-typography-a71b722-line-height: 1.5em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
  background-color: var(--e-global-color-e3c55af);
}
.elementor-kit-3 p {
  margin-bottom: 32px;
}
.elementor-kit-3 a {
  color: var(--e-global-color-fcc4f00);
}
.elementor-kit-3 h1 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-4b92808-font-family), Sans-serif;
  font-size: var(--e-global-typography-4b92808-font-size);
  font-weight: var(--e-global-typography-4b92808-font-weight);
  font-style: var(--e-global-typography-4b92808-font-style);
  line-height: var(--e-global-typography-4b92808-line-height);
  letter-spacing: var(--e-global-typography-4b92808-letter-spacing);
  word-spacing: var(--e-global-typography-4b92808-word-spacing);
}
.elementor-kit-3 h2 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-18b4240-font-family), Sans-serif;
  font-size: var(--e-global-typography-18b4240-font-size);
  font-weight: var(--e-global-typography-18b4240-font-weight);
  font-style: var(--e-global-typography-18b4240-font-style);
  line-height: var(--e-global-typography-18b4240-line-height);
  letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
  word-spacing: var(--e-global-typography-18b4240-word-spacing);
}
.elementor-kit-3 h3 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-2ffea2a-font-family), Sans-serif;
  font-size: var(--e-global-typography-2ffea2a-font-size);
  font-weight: var(--e-global-typography-2ffea2a-font-weight);
  font-style: var(--e-global-typography-2ffea2a-font-style);
  line-height: var(--e-global-typography-2ffea2a-line-height);
  letter-spacing: var(--e-global-typography-2ffea2a-letter-spacing);
  word-spacing: var(--e-global-typography-2ffea2a-word-spacing);
}
.elementor-kit-3 h4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-18b4240-font-family), Sans-serif;
  font-size: var(--e-global-typography-18b4240-font-size);
  font-weight: var(--e-global-typography-18b4240-font-weight);
  font-style: var(--e-global-typography-18b4240-font-style);
  line-height: var(--e-global-typography-18b4240-line-height);
  letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
  word-spacing: var(--e-global-typography-18b4240-word-spacing);
}
.elementor-kit-3 h5 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-b8e8f44-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8e8f44-font-size);
  font-weight: var(--e-global-typography-b8e8f44-font-weight);
  font-style: var(--e-global-typography-b8e8f44-font-style);
  line-height: var(--e-global-typography-b8e8f44-line-height);
  letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
  word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
}
.elementor-kit-3 h6 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-a71b722-font-family), Sans-serif;
  font-size: var(--e-global-typography-a71b722-font-size);
  font-weight: var(--e-global-typography-a71b722-font-weight);
  text-transform: var(--e-global-typography-a71b722-text-transform);
  font-style: var(--e-global-typography-a71b722-font-style);
  line-height: var(--e-global-typography-a71b722-line-height);
  letter-spacing: var(--e-global-typography-a71b722-letter-spacing);
  word-spacing: var(--e-global-typography-a71b722-word-spacing);
}
.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-e3c55af);
  background-color: var(--e-global-color-accent);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-secondary);
  border-radius: 0px 0px 0px 0px;
  padding: 16px 32px 16px 32px;
}
.elementor-kit-3 label {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-e3c55af);
  border-style: solid;
  border-color: var(--e-global-color-337ad1b);
  border-radius: 0px 0px 0px 0px;
  padding: 16px 16px 16px 16px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1110px;
}
.e-con {
  --container-max-width: 1110px;
}
.elementor-widget:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-element {
  --widgets-spacing: 32px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.elementor-kit-3 e-page-transition {
  background-color: #ffbc7d;
}
.site-header {
  padding-right: 0px;
  padding-left: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-3 {
    --e-global-typography-4b92808-font-size: 58px;
    --e-global-typography-eed492a-font-size: 32px;
    --e-global-typography-2ffea2a-font-size: 22px;
    --e-global-typography-18b4240-font-size: 17px;
    --e-global-typography-b8e8f44-font-size: 16px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-3 h1 {
    font-size: var(--e-global-typography-4b92808-font-size);
    line-height: var(--e-global-typography-4b92808-line-height);
    letter-spacing: var(--e-global-typography-4b92808-letter-spacing);
    word-spacing: var(--e-global-typography-4b92808-word-spacing);
  }
  .elementor-kit-3 h2 {
    font-size: var(--e-global-typography-18b4240-font-size);
    line-height: var(--e-global-typography-18b4240-line-height);
    letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
    word-spacing: var(--e-global-typography-18b4240-word-spacing);
  }
  .elementor-kit-3 h3 {
    font-size: var(--e-global-typography-2ffea2a-font-size);
    line-height: var(--e-global-typography-2ffea2a-line-height);
    letter-spacing: var(--e-global-typography-2ffea2a-letter-spacing);
    word-spacing: var(--e-global-typography-2ffea2a-word-spacing);
  }
  .elementor-kit-3 h4 {
    font-size: var(--e-global-typography-18b4240-font-size);
    line-height: var(--e-global-typography-18b4240-line-height);
    letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
    word-spacing: var(--e-global-typography-18b4240-word-spacing);
  }
  .elementor-kit-3 h5 {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-kit-3 h6 {
    font-size: var(--e-global-typography-a71b722-font-size);
    line-height: var(--e-global-typography-a71b722-line-height);
    letter-spacing: var(--e-global-typography-a71b722-letter-spacing);
    word-spacing: var(--e-global-typography-a71b722-word-spacing);
  }
  .elementor-kit-3 button,
  .elementor-kit-3 input[type="button"],
  .elementor-kit-3 input[type="submit"],
  .elementor-kit-3 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-kit-3 label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-3 textarea,
  .elementor-kit-3 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-3 {
    --e-global-typography-4b92808-font-size: 44px;
    --e-global-typography-eed492a-font-size: 28px;
    --e-global-typography-2ffea2a-font-size: 20px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-3 h1 {
    font-size: var(--e-global-typography-4b92808-font-size);
    line-height: var(--e-global-typography-4b92808-line-height);
    letter-spacing: var(--e-global-typography-4b92808-letter-spacing);
    word-spacing: var(--e-global-typography-4b92808-word-spacing);
  }
  .elementor-kit-3 h2 {
    font-size: var(--e-global-typography-18b4240-font-size);
    line-height: var(--e-global-typography-18b4240-line-height);
    letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
    word-spacing: var(--e-global-typography-18b4240-word-spacing);
  }
  .elementor-kit-3 h3 {
    font-size: var(--e-global-typography-2ffea2a-font-size);
    line-height: var(--e-global-typography-2ffea2a-line-height);
    letter-spacing: var(--e-global-typography-2ffea2a-letter-spacing);
    word-spacing: var(--e-global-typography-2ffea2a-word-spacing);
  }
  .elementor-kit-3 h4 {
    font-size: var(--e-global-typography-18b4240-font-size);
    line-height: var(--e-global-typography-18b4240-line-height);
    letter-spacing: var(--e-global-typography-18b4240-letter-spacing);
    word-spacing: var(--e-global-typography-18b4240-word-spacing);
  }
  .elementor-kit-3 h5 {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-kit-3 h6 {
    font-size: var(--e-global-typography-a71b722-font-size);
    line-height: var(--e-global-typography-a71b722-line-height);
    letter-spacing: var(--e-global-typography-a71b722-letter-spacing);
    word-spacing: var(--e-global-typography-a71b722-word-spacing);
  }
  .elementor-kit-3 button,
  .elementor-kit-3 input[type="button"],
  .elementor-kit-3 input[type="submit"],
  .elementor-kit-3 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    padding: 12px 24px 12px 24px;
  }
  .elementor-kit-3 label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-3 textarea,
  .elementor-kit-3 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    padding: 12px 12px 12px 12px;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
