.elementor-119
  .elementor-element.elementor-element-8abda5a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-119
  .elementor-element.elementor-element-8abda5a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-119 .elementor-element.elementor-element-8abda5a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 8px 0px 8px 0px;
  z-index: 5;
}
.elementor-119
  .elementor-element.elementor-element-8abda5a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-119
  .elementor-element.elementor-element-23af9f3.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-119
  .elementor-element.elementor-element-23af9f3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-119
  .elementor-element.elementor-element-23af9f3.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-119
  .elementor-element.elementor-element-8c60f27
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-119 .elementor-element.elementor-element-8c60f27 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-119
  .elementor-element.elementor-element-cbb3506
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-119
  .elementor-element.elementor-element-cbb3506
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-119 .elementor-element.elementor-element-cbb3506 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  line-height: var(--e-global-typography-accent-line-height);
  fill: var(--e-global-color-fcc4f00);
  color: var(--e-global-color-fcc4f00);
  background-color: var(--e-global-color-1df8476);
  padding: 0px 0px 0px 0px;
}
.elementor-119
  .elementor-element.elementor-element-cbb3506
  > .elementor-widget-container {
  padding: 0px 0px 0px 16px;
}
.elementor-119 .elementor-element.elementor-element-cbb3506 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-119
  .elementor-element.elementor-element-344f67b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-119 .elementor-element.elementor-element-344f67b {
  margin-top: 0px;
  margin-bottom: -150px;
  z-index: 5;
}
.elementor-bc-flex-widget
  .elementor-119
  .elementor-element.elementor-element-f530042.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-119
  .elementor-element.elementor-element-f530042.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-119 .elementor-element.elementor-element-89daa9a {
  text-align: left;
}
.elementor-119 .elementor-element.elementor-element-89daa9a img {
  max-width: 140px;
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-menu-toggle {
  margin-right: auto;
  background-color: var(--e-global-color-337ad1b);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-e3c55af);
  fill: var(--e-global-color-e3c55af);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-fcc4f00);
  fill: var(--e-global-color-fcc4f00);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-fcc4f00);
}
.elementor-119 .elementor-element.elementor-element-671819a {
  --e-nav-menu-horizontal-menu-item-margin: calc(32px / 2);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-fcc4f00);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-e3c55af);
  background-color: var(--e-global-color-fcc4f00);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu--main
  .elementor-nav-menu--dropdown,
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  div.elementor-menu-toggle {
  color: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-e3c55af);
}
.elementor-119
  .elementor-element.elementor-element-671819a
  .elementor-menu-toggle:hover {
  background-color: var(--e-global-color-337ad1b);
}
@media (max-width: 1024px) {
  .elementor-119
    .elementor-element.elementor-element-8c60f27
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-119
    .elementor-element.elementor-element-cbb3506
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-119 .elementor-element.elementor-element-344f67b {
    margin-top: 0px;
    margin-bottom: -76px;
    padding: 16px 32px 16px 32px;
  }
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
@media (max-width: 767px) {
  .elementor-119
    .elementor-element.elementor-element-8c60f27
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-119
    .elementor-element.elementor-element-cbb3506
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-119 .elementor-element.elementor-element-344f67b {
    padding: 16px 16px 16px 16px;
  }
  .elementor-119 .elementor-element.elementor-element-f530042 {
    width: 84%;
  }
  .elementor-119 .elementor-element.elementor-element-89daa9a img {
    max-width: 130px;
  }
  .elementor-119 .elementor-element.elementor-element-b75369c {
    width: 16%;
  }
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-119
    .elementor-element.elementor-element-671819a
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
@media (min-width: 768px) {
  .elementor-119 .elementor-element.elementor-element-f530042 {
    width: 30%;
  }
  .elementor-119 .elementor-element.elementor-element-b75369c {
    width: 70%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-119 .elementor-element.elementor-element-f530042 {
    width: 90%;
  }
  .elementor-119 .elementor-element.elementor-element-b75369c {
    width: 10%;
  }
}
