.elementor-137 .elementor-element.elementor-element-d17b728 {
  --image-transition-duration: 800ms;
  --overlay-transition-duration: 800ms;
  --content-text-align: center;
  --content-padding: 20px;
  --content-transition-duration: 800ms;
  --content-transition-delay: 800ms;
}
.elementor-137
  .elementor-element.elementor-element-d17b728
  .e-gallery-item:hover
  .elementor-gallery-item__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-137
  .elementor-element.elementor-element-27b1ff3
  > .elementor-container {
  max-width: 1600px;
}
.elementor-137 .elementor-element.elementor-element-27b1ff3 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 130px 0px 32px 0px;
}
.elementor-137
  .elementor-element.elementor-element-27b1ff3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-137
  .elementor-element.elementor-element-27b1ff3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
  background-image: url("../../2022/03/bgline-footer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-137
  .elementor-element.elementor-element-27b1ff3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-137 .elementor-element.elementor-element-3c3f569 {
  margin-top: 0px;
  margin-bottom: 130px;
}
.elementor-137 .elementor-element.elementor-element-6b0fd11 {
  text-align: left;
}
.elementor-137 .elementor-element.elementor-element-6b0fd11 img {
  max-width: 140px;
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(16px / 2);
  margin-left: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-16px / 2);
  margin-left: calc(-16px / 2);
}
body.rtl
  .elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-16px / 2);
}
body:not(.rtl)
  .elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-70d6c5e);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-70d6c5e);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-70d6c5e);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-70d6c5e);
}
.elementor-137 .elementor-element.elementor-element-4e0bf43 {
  --e-icon-list-icon-size: 15px;
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-text {
  color: var(--e-global-color-70d6c5e);
  padding-left: 16px;
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-70d6c5e);
}
.elementor-137
  .elementor-element.elementor-element-4e0bf43
  > .elementor-widget-container {
  margin: 32px 0px 0px 0px;
}
.elementor-137
  .elementor-element.elementor-element-f88e6b6
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-b8e8f44-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8e8f44-font-size);
  font-weight: var(--e-global-typography-b8e8f44-font-weight);
  font-style: var(--e-global-typography-b8e8f44-font-style);
  line-height: var(--e-global-typography-b8e8f44-line-height);
  letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
  word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
}
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-70d6c5e);
  fill: var(--e-global-color-70d6c5e);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-fcc4f00);
  fill: var(--e-global-color-fcc4f00);
}
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-fcc4f00);
}
.elementor-137 .elementor-element.elementor-element-5fa1858 {
  --e-nav-menu-horizontal-menu-item-margin: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-5fa1858
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 16px;
}
.elementor-137
  .elementor-element.elementor-element-aecfd1a
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-b8e8f44-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8e8f44-font-size);
  font-weight: var(--e-global-typography-b8e8f44-font-weight);
  font-style: var(--e-global-typography-b8e8f44-font-style);
  line-height: var(--e-global-typography-b8e8f44-line-height);
  letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
  word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
}
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-70d6c5e);
  fill: var(--e-global-color-70d6c5e);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-fcc4f00);
  fill: var(--e-global-color-fcc4f00);
}
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-fcc4f00);
}
.elementor-137 .elementor-element.elementor-element-f9067ae {
  --e-nav-menu-horizontal-menu-item-margin: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-f9067ae
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 16px;
}
.elementor-137
  .elementor-element.elementor-element-0b4dd96
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-b8e8f44-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8e8f44-font-size);
  font-weight: var(--e-global-typography-b8e8f44-font-weight);
  font-style: var(--e-global-typography-b8e8f44-font-style);
  line-height: var(--e-global-typography-b8e8f44-line-height);
  letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
  word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
}
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-70d6c5e);
  fill: var(--e-global-color-70d6c5e);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-fcc4f00);
  fill: var(--e-global-color-fcc4f00);
}
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-fcc4f00);
}
.elementor-137 .elementor-element.elementor-element-fbcde37 {
  --e-nav-menu-horizontal-menu-item-margin: calc(16px / 2);
}
.elementor-137
  .elementor-element.elementor-element-fbcde37
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 16px;
}
.elementor-137
  .elementor-element.elementor-element-a51bd60
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-b8e8f44-font-family), Sans-serif;
  font-size: var(--e-global-typography-b8e8f44-font-size);
  font-weight: var(--e-global-typography-b8e8f44-font-weight);
  font-style: var(--e-global-typography-b8e8f44-font-style);
  line-height: var(--e-global-typography-b8e8f44-line-height);
  letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
  word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
}
.elementor-137
  .elementor-element.elementor-element-491656a
  .elementor-heading-title {
  color: var(--e-global-color-70d6c5e);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group {
  padding-right: calc(16px / 2);
  padding-left: calc(16px / 2);
  margin-bottom: 16px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-form-fields-wrapper {
  margin-left: calc(-16px / 2);
  margin-right: calc(-16px / 2);
  margin-bottom: -16px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group
  > label,
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-subgroup
  label {
  color: var(--e-global-color-70d6c5e);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-fc08ef3);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: var(--e-global-color-e3c55af);
  border-color: var(--e-global-color-337ad1b);
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: var(--e-global-color-e3c55af);
  border-color: var(--e-global-color-337ad1b);
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-337ad1b);
}
.elementor-137 .elementor-element.elementor-element-44e1a27 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  font-style: var(--e-global-typography-accent-font-style);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-e3c55af);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-e3c55af);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-e3c55af);
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button[type="submit"]:hover {
  color: #ffffff;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-137
  .elementor-element.elementor-element-44e1a27
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-137 .elementor-element.elementor-element-44e1a27 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-137 .elementor-element.elementor-element-a221039 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-af41a84);
  --divider-border-width: 1px;
}
.elementor-137
  .elementor-element.elementor-element-a221039
  .elementor-divider-separator {
  width: 100%;
}
.elementor-137 .elementor-element.elementor-element-a221039 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-137
  .elementor-element.elementor-element-5ba4745
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-137
  .elementor-element.elementor-element-8ea5b2c
  .elementor-heading-title {
  color: var(--e-global-color-e3c55af);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-137 .elementor-element.elementor-element-31a3bea {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 32px;
  --grid-row-gap: 0px;
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-widget-container {
  text-align: right;
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon {
  background-color: var(--e-global-color-primary);
  --icon-padding: 0em;
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon
  i {
  color: var(--e-global-color-e3c55af);
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-e3c55af);
}
.elementor-137 .elementor-element.elementor-element-31a3bea .elementor-icon {
  border-radius: 0px 0px 0px 0px;
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-fcc4f00);
}
.elementor-137
  .elementor-element.elementor-element-31a3bea
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-fcc4f00);
}
@media (max-width: 1024px) {
  .elementor-137 .elementor-element.elementor-element-27b1ff3 {
    padding: 80px 32px 32px 32px;
  }
  .elementor-137 .elementor-element.elementor-element-3c3f569 {
    margin-top: 0px;
    margin-bottom: 80px;
  }
  .elementor-137
    .elementor-element.elementor-element-f88e6b6
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-5fa1858
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-aecfd1a
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-f9067ae
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-4e088a8
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-137
    .elementor-element.elementor-element-0b4dd96
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-fbcde37
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-bddeaeb
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-137
    .elementor-element.elementor-element-a51bd60
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-491656a
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-44e1a27
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-8ea5b2c
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
}
@media (max-width: 767px) {
  .elementor-137 .elementor-element.elementor-element-27b1ff3 {
    padding: 60px 16px 32px 16px;
  }
  .elementor-137 .elementor-element.elementor-element-6b0fd11 img {
    max-width: 130px;
  }
  .elementor-137
    .elementor-element.elementor-element-4e0bf43
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-137 .elementor-element.elementor-element-a68012e {
    width: 50%;
  }
  .elementor-137
    .elementor-element.elementor-element-a68012e
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-137
    .elementor-element.elementor-element-f88e6b6
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-5fa1858
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137 .elementor-element.elementor-element-14acf2d {
    width: 50%;
  }
  .elementor-137
    .elementor-element.elementor-element-14acf2d
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-137
    .elementor-element.elementor-element-aecfd1a
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-f9067ae
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-0b4dd96
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-fbcde37
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-a51bd60
    .elementor-heading-title {
    font-size: var(--e-global-typography-b8e8f44-font-size);
    line-height: var(--e-global-typography-b8e8f44-line-height);
    letter-spacing: var(--e-global-typography-b8e8f44-letter-spacing);
    word-spacing: var(--e-global-typography-b8e8f44-word-spacing);
  }
  .elementor-137
    .elementor-element.elementor-element-491656a
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-44e1a27
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-137 .elementor-element.elementor-element-8ea5b2c {
    text-align: center;
  }
  .elementor-137
    .elementor-element.elementor-element-8ea5b2c
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-137
    .elementor-element.elementor-element-8a10411
    > .elementor-element-populated {
    padding: 16px 0px 0px 0px;
  }
  .elementor-137
    .elementor-element.elementor-element-31a3bea
    .elementor-widget-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-137 .elementor-element.elementor-element-ef7f7ba {
    width: 30%;
  }
  .elementor-137 .elementor-element.elementor-element-a68012e {
    width: 20%;
  }
  .elementor-137 .elementor-element.elementor-element-14acf2d {
    width: 20%;
  }
  .elementor-137 .elementor-element.elementor-element-4e088a8 {
    width: 20%;
  }

}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-137 .elementor-element.elementor-element-ef7f7ba {
    width: 50%;
  }
  .elementor-137 .elementor-element.elementor-element-a68012e {
    width: 25%;
  }
  .elementor-137 .elementor-element.elementor-element-14acf2d {
    width: 25%;
  }
  .elementor-137 .elementor-element.elementor-element-4e088a8 {
    width: 50%;
  }
  .elementor-137 .elementor-element.elementor-element-bddeaeb {
    width: 50%;
  }
  .elementor-137 .elementor-element.elementor-element-5d4479d {
    width: 65%;
  }
  .elementor-137 .elementor-element.elementor-element-8a10411 {
    width: 35%;
  }
}
